/*******************************
    Landing Left Page Styles
*******************************/
#landing-l-container {
  background-color: green;
  width: 60vw;
  height: 100vh;
  position: absolute;
  top:0;
}
