/******************
    Nav Styles
******************/
.nav-container {
    .activate-menu {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        text-align: center;
        z-index: 99;
        height: 60px;
        width: 60px;
        background: transparent;
        cursor: pointer;
        i {
            font-size: 60px;
            color:white;
        }
    }

    .nav-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 15vw;
        border-right-style: solid;
        border-right-color: rgba(255, 255, 255, 0.5);
        border-right-width: thin;
        background: rgba(255, 255, 255, 0.5);
        z-index: 999;
    }
}
/************************
        Nav Button
************************/
.btn {
    border: none;
    text-decoration: none;
    outline: none;

    &--menu {
        width: 44px;
        height: 44px;
        background: none;
        position: fixed;
        border-radius: 2px;
        top: 24px;
        left: 24px;
        z-index: 100;
        /* box-shadow: 0px 1px 1px rgba(0, 0, 0, .15); */
        span {
            border-radius: 50%;
            width: 6px;
            height: 6px;
            display: block;
            float: left;
            margin: 2px;
            position: relative;
            box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
        }
    }
}

.not--x__piece {
    background: #2e42ac;
    position: relative;
    transition: all 0.25s ease-out;

    &:hover {
        background: lighten(#2e42ac, 30%);
        transition: all 0.25s ease-out;
    }

    &--1 {
        top: 0;
        left: 0;
        transition: all 0.25s ease-out;
    }

    &--2 {
        top: 0;
        left: 0;
        transition: all 0.25s ease-out;
    }

    &--3 {
        top: 0;
        left: 0;
        transition: all 0.25s ease-out;
    }

    &--4 {
        top: 0;
        left: 0;
        transition: all 0.25s ease-out;
    }

    &--1.is--x {
        top: 5px;
        left: 5px;
        transition: all 0.25s ease-out;
    }

    &--2.is--x {
        top: 5px;
        left: 15px;
        transition: all 0.25s ease-out;
    }

    &--3.is--x {
        top: 5px;
        left: -15px;
        transition: all 0.25s ease-out;
    }

    &--4.is--x {
        top: -15px;
        left: -5px;
        transition: all 0.25s ease-out;
    }
}

.x__piece {
    background: #2e42ac;
    transition: all 0.25s ease-out;

    &:hover {
        background: lighten(#2e42ac, 30%);
        transition: all 0.25s ease-out;
    }
}
