/***********************
    Overlay Styles
***********************/
.white-overlay {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    .dismiss-white {
        border-style: solid;
        border-color: black;
        border-width: thin;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 2vh;
        right: 2vw;
        text-align: center;
        padding-top: 0.7em;
        cursor: pointer;
        padding-left: 0.3em;
        padding-right: 0.2em;
        z-index: 999;
    }
}

.trans-white {
  background-color: rgba(255, 255, 255, 0.4);
  transition: background-color 2s;
}
.trans-blue {
  background-color: rgba(66, 165, 245, .7);
  transition: background-color 2s;
}
.trans-purple {
  background-color: rgba(194, 119, 251, 0.7);
  transition: background-color 2s;
}
.trans-red {
  background-color: rgba(251, 119, 119, 0.7);
  transition: background-color 2s;
}
.trans-green {
  background-color: rgba(188, 251, 119, 0.7);
  transition: background-color 2s;
}
