/***********************
    Overlay Styles
***********************/
.white-overlay {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    .dismiss-white {
        border-style: solid;
        border-color: black;
        border-width: thin;
        height: 50px;
        width: 50px;
        position: absolute;
        top: 2vh;
        right: 2vw;
        text-align: center;
        padding-top: 0.7em;
        cursor: pointer;
        padding-left: 0.3em;
        padding-right: 0.2em;
    }
}
