/******************
  Slider Styles
******************/
.fw-image {
    width: calc(25em - 20px);
    height: calc(21em - 10px);
}

.slider-container {
    .slider-wrapper {
        @include span-columns(12);
        position: absolute;

        .project-image {
            @include span-columns(4);
            position: relative;
            padding: calc(2em + 20px);
        }

        .project-description {
            @include span-columns(8);

            .project-title {
                @include shift(1.5);
                margin-bottom: 0.3em;
            }

            .project-info {
                @include span-columns(5);
                @include shift(1);
                text-align: justify;
                line-height: 22px;
                height: 90px;
                font-size: calc(1vw + 1px);
            }

            .role-wrapper {
                @include span-columns(10);
                @include shift(1);
                margin-top: calc(1em - 5px);

                .role-title {
                    text-align: center;
                }

                .role-list {
                    .role-list-item {
                        list-style: none;
                        width: 30%;
                        float: left;
                        text-align: right;
                        font-weight: bold;
                        font-size: calc(1vw + -1px);

                        .role-value {
                            margin-top: 1em;
                            font-weight: 100;
                            font-size: calc(1vw + 2px);
                        }
                    }
                }
            }
        }
    }
}

.selector-container {
    @include span-columns(12);
    position: absolute;
    bottom: 0;

    .selector-list {
        text-align: center;

        .selector-list-item {
            list-style: none;
            width: calc(100% - 75%);
            margin: 0 auto;
            display: inline-block;

            .selector-image {
                border-style: solid;
                border-width: thin;
                border-radius: 3px;
                border-color: #c3c3c3;
                padding: 0.5em;
                cursor: pointer;
                height: calc(11em - 15px);
                width: calc(11em - 5px);
            }
        }
    }
}

#single {
    width: 10%;
    height: 1px;
    border: none;
    background: #383838;
    transform: rotate(45deg);
    position: fixed;
    top: 47%;
    left: 36%;
}

#double {
    width: 15%;
    height: 1px;
    border: none;
    background: #383838;
    transform: rotate(45deg);
    position: fixed;
    top: 20%;
    left: 75%;
}
