/******************
  Slider Styles
******************/
.fw-image {
    width: 600px;
    height: 550px;
}

.slider-container {
    .slider-wrapper {
        @include span-columns(12);
        position:absolute;
        .project-image {
            @include span-columns(4);
            position: relative;
            padding: 5em;
        }

        .project-description {
            @include span-columns(8);
            padding: 8em 5em 0;

            .project-title {
                @include shift(1.5);
                margin-bottom: .3em;
            }

            .project-info {
                @include span-columns(5);
                @include shift(1);
                text-align: justify;
                line-height: 22px;
                height: 100px;
            }

            .role-wrapper {
                @include span-columns(10);
                @include shift(1);
                margin-top: 4em;

                .role-title {
                    text-align: center;
                }

                .role-list {
                    .role-list-item {
                        list-style: none;
                        width: 30%;
                        float: right;
                        text-align: right;
                        font-weight: bold;

                        .role-value {
                            margin-top: 1em;
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}

.selector-container {
    @include span-columns(12);
    position: absolute;
    bottom: 0;


    .selector-list {
        text-align:center;
        .selector-list-item {
            list-style: none;
            width: 15%;
            margin: 0 auto;
            display: inline-block;

            .selector-image {
                border-style:solid;
                border-width:thin;
                border-radius: 3px;
                border-color:rgb(195, 195, 195);
                padding:5px;
                cursor:pointer;
                height: 200px;
                width: 225px;

            }
        }
    }
}
