/*************************
      Two Boxes Styles
*************************/
.two-box-container {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 0;
    bottom: 0;

    .box-one {
      height: 35%;
          width: 70%;
          border-style: solid;
          border-width: thin;
          border-color: #323132;
          position: relative;
          top: 3%;
          margin: 0 auto;
          color: white;
          text-align: center;

        #ny {
            font-family: 'StateFace';
            color: white;
            font-size: 90px;
        }
    }

    .box-two {
      height: 35%;
          width: 70%;
          border-style: solid;
          border-width: thin;
          border-color: #323132;
          position: relative;
          top: 3%;
          margin: 0 auto;
          color: white;
          text-align: center;

        #pa {
            font-family: 'StateFace';
            color: white;
            font-size: 90px;
        }
    }
}
