/*********************
   Variables Styles
*********************/

/*******************
      Google Font
*******************/
@import url('https://fonts.googleapis.com/css?family=Abel');
/* font-family: 'Abel', sans-serif; */


/******************
    StateFace
******************/
@font-face {
    font-family: 'StateFace';
    src: url('font/stateface/StateFace-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
